/*CSS Stylesheet*/
h1{
    text-align:center;
    vertical-align: middle;
    padding-top:25px;
    padding-left:10%;
    padding-right:5%;
    text-shadow: 2px 2px 10px #000000;
    color: rgb(20, 46, 89);
    font-weight:bold;
    font-size:250%
}
body {
    font-family: Helvetica, sans-serif; 
    font-size: 125%;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:85px;
    padding-top:5px;
}
head{
    font-family: Helvetica, sans-serif; 
    font-size: 125%;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:85px;
    padding-top:5px;
}
#queryBox{
    width:1000px;
    height:30px;
    word-wrap: break-word;
    vertical-align: top;
    
}
#attrBox{
    height:30px;
    width: 150px;
    margin-left: 20px;
    vertical-align: top;
}
#footer {
   display: block;
   position: absolute;
   background-color: rgb(185, 204, 234);
   width:1260px;
   height:85px;
   padding-left: 20px;
   padding-right: 15px;
   padding-top:5px;
   padding-bottom:5px;
}
#navBar li{
    display: inline;
    float: left;
}
#navBar li a:visited{
    color: black;
}
#navBar li a:active{
    color:black;
}
#navBar li a{
    margin-left:auto;
    margin-right:auto;
    width: 290px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(185, 204, 234);
}
#navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(185, 204, 234);
}

#sideBar {
    width:90%;
}
#dagrList ul {
    margin: 0;
    padding: 0;
    width: 10%;
    border:solid 1px;
    border-color:black;
    position: relative;  
    background-color: rgb(217, 220, 224);  
}
#dagrList li{
    display:block;
    border:solid 1px;
    border-color:black;
   
}
#dagrList li input {
    display:block;
    text-align:center;
    width: 128px;
    height: 30px;
    padding-bottom: 4px;
}
table{
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}

td{
    border:solid 3px;
    width:170px;
    word-wrap:break-word;
}
#container {
    vertical-align: top;
}
h2{
    font-size: 98%;
}
#contentsList {
    width: 85%;
    margin-left: 150px;
    margin-top: -95px;
    position: relative;
    
}
#contentsList table{
    border-collapse:collapse;
    table-layout:fixed;
}    
#contentsList td{
    border:solid 3px;
    width:10px;
    word-wrap:break-word;
}
