/*CSS Stylesheet*/
html {
    position: relative;
    min-height: 100%;
}
h1{
    text-align:center;
    vertical-align: middle;
    padding-top:25px;
    padding-left:10%;
    padding-right:5%;
    text-shadow: 2px 2px 10px #000000;
    color: rgb(20, 46, 89);
    font-weight:bold;
    font-size:250%
}
body {
    font-family: Helvetica, sans-serif; 
    font-size: 125%;
    margin-left: 20px;
    margin-right:20px;
    margin-top:5px;
    margin-bottom:85px;
}
head{
    font-family: Helvetica, sans-serif; 
    font-size: 125%;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:85px;
    padding-top:5px;
}
#queryBox{
    width:1000px;
    height:30px;
    word-wrap: break-word;
    vertical-align: top;
    
}
#attrBox{
    height:30px;
    width: 150px;
    margin-left: 20px;
    vertical-align: top;
}

#navBar li{
    display: inline;
    float: left;
}
#navBar li a:visited{
    color: black;
}
#navBar li a:active{
    color:black;
}
#navBar li a{
    margin-left:auto;
    margin-right:auto;
    width: 290px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(185, 204, 234);
}
#navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(185, 204, 234);
}

#dagrList {
    margin-top: 0px;
    width: 10%;
    float:left;
}
#dagrList ul {
    left: 0;
    top:0;
    padding: 0;
    border:solid 1px;
    border-color:black;
    position: relative;  
    background-color: rgb(217, 220, 224);  
}
#dagrList li{
    display:block;
    border:solid 1px;
    border-color:black;
   
}
#dagrList li input {
    display:block;
    text-align:center;
    width: 128px;
    height: 30px;
    padding-bottom: 4px;
}
table{
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}

td{
    border:solid 3px;
    width:170px;
    word-wrap:break-word;
}

h2{
    font-size: 95%;
}
h3{
    font-size: 85%;
}
#contentsList {
   width:85%;
   float: left;
   padding-left: 20px;
   padding-bottom: 200px;
    
}
#contentsList table{
    border-collapse:collapse;
    table-layout:fixed;
    width: auto;
    align-content: center;
}    
#contentsList table td{
    border:solid 3px;
    align-content: center;
    width: 140px;
    word-wrap:break-word;
}
#contentsList table td form input{
    align-content: center;
    width: 140px;
    height: 40px;
}
#contentsList table td form button{
    align-content: center;
    width: 140px;
    height: 40px;
}
.pathBox{
    min-width: 700px;
}
span{
    display:table-cell;
}
#descBox {
    min-width: 500px;
    min-height: 150px;
    vertical-align:text-top;
    word-wrap: break-word;
    word-break: break-all;
    
}
#footer {
   display: block;
   position: absolute;
   background-color: rgb(185, 204, 234);
   width:1268px;
   height:65px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom:5px;
   bottom:0;
   left:20px;
   
}
section{
    padding-bottom:200px;
}